extends ./layout.jade
block content
    .header
        h1 Oops...
        h2 Something has gone wrong!
    .content
        h2(style='text-align: center;').alert.alert-danger The page you have requested does not exist!
        p   If you think that this is an error, please contact:
            br
            b
                | Michael Römer
            br
            | University of Tübingen
            br
            | Wilhelm-Schickard-Institute for Computer Science
            br
            | Dept. Cognitive Systems
            br
            | Sand 1
            br
            | D-72076 Tübingen
            br
            | Email: 
            a(href='mailto:michael.roemer@uni-tuebingen.de') michael.roemer(at)uni-tuebingen.de 
            br
            | Homepage: 
            a(href='http://www.ra.cs.uni-tuebingen.de/mitarb/roemer/welcome_e', target="_blank") Link 
