extends ./layout.jade
block content
    .header
        h1 Contact
        h2 MARCARviz
    .content
        h3 Contact us:
        p
            b
                | Michael Römer
            br
            | University of Tübingen
            br
            | Wilhelm-Schickard-Institute for Computer Science
            br
            | Dept. Cognitive Systems
            br
            | Sand 1
            br
            | D-72076 Tübingen
            br
            | Email: 
            a(href='mailto:michael.roemer@uni-tuebingen.de') michael.roemer(at)uni-tuebingen.de 
            br
            | Homepage: 
            a(href='http://www.ra.cs.uni-tuebingen.de/mitarb/roemer/welcome_e', target="_blank") Link 
