extends ./layout.jade

block content
    .header
        h1 Password reset
        h2 MARCARviz
    .content
        form(role='form', action="/forgot",method="post", style='max-width: 100%; text-align: center;')
            .form-group
                input.form-control(type='email', name="email", placeholder='Enter Email', autofocus)
            button.btn.btn-primary(type='submit') Reset Password
