extends ./layout.jade
block content
    .header
        h1 MARCARviz
        h2 Framework for simplified analysis of gene expression data
    .content
        h3 What is MARCARviz?
        p
            | The MARCARviz framework enables the simplified analysis of gene expression data. This is the default 
            | index page. You should customize it!
